.cards-container {
  margin-top: 55px;
  width: 100%;
  margin-bottom: 30px;
}

.card {
  border: 1px solid black;
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  width: 70%;
}

.add-card-form {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  margin-top: 10px;
  padding: 0 30px;
  background: #4077ff;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}
