<div class="cards-container">
  <h2>Cards associated with {{ firstName }}:</h2>

  <div class="cards-list" *ngIf="cards.length > 0">
    <div class="card" *ngFor="let card of cards">
      <p>Card Number: {{ card.card_number }}</p>
      <p>Balance: {{ card.balance }}</p>
    </div>
  </div>
</div>

<div class="add-card-form">
  <form #cardForm="ngForm">
    <h2>Add a New Card</h2>
    <div>
      <label>Enter New Card Number: </label>
      <input
        required
        type="text"
        id="card_number"
        name="card_number"
        [(ngModel)]="newCardNumber"
        #cardNumber="ngModel"
      />
    </div>

    <button
      type="button"
      (click)="addCard(newCardNumber, personId); cardForm.reset()"
    >
      Add
    </button>
  </form>
</div>
