<header>
  <div class="container">
    <a href="#" class="logo" routerLink="/">Hivewire Evaluation</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Person List</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
