<h1>{{ homeTitle }}</h1>

<ul *ngIf="people">
  <div *ngFor="let person of people">
    <a routerLink="{{ person.id }}" routerLinkActive="router-link-active">
      <li>
        <p class="name">{{ person.first_name }} {{ person.last_name }}</p>
        <p class="email">{{ person.email }}</p>
      </li>
    </a>
  </div>
</ul>
