h1 {
  text-align: center;
}

div {
  width: 25%;
  display: flex;
  flex-direction: column;
  &:hover {
    transform: scale(1.03);
  }
}

a {
  color: black;
  text-decoration: none;
  background: rgb(238, 238, 238);
  padding: 1em;
  margin-right: 10px;
  margin-bottom: 1em;
  height: 200px;
  box-shadow: 0px 2px 4px rgb(204, 204, 204);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    p {
      margin: 0;
    }

    p.name {
      font-weight: bold;
      font-size: 1.2rem;
    }
    p.email {
      font-size: 0.9rem;
    }
  }
}
