<h1>Personal Details</h1>

<div *ngFor="let person of people">
  <div *ngIf="person.id == personId">
    <div class="person-info">
      <h3 class="name">Name: {{ person.first_name }} {{ person.last_name }}</h3>
      <p class="email">Email: {{ person.email }}</p>
    </div>
    <div class="cards">
      <app-cards
        style="display:flex"
        [personId]="person.id"
        [firstName]="person.first_name"
      ></app-cards>
    </div>
  </div>
</div>
